<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
    Get help on the Ruby on Rails tutorial at the
        <a href="http://www.railstutorial.org/#help"> Rails Tutorial Help Section</a>
    <p>
        To get hepl on this sample app, see the
        <a href="http://www.railstutorial.org/book">
             <em>Ruby on Rails Tutorial Book</em>
        </a>
    </p>
</p>

